@charset "UTF-8";

body{
	background-color: black;
}

img.facebook{
	width: 30%;
}

img.Github{
	width: 32%;
}

img.Linkedin{
	width: 47%;
	height: 200px;
}

img.Twitter{
	width: 30%;
	height: 200px;
}